contourpy==1.3.3
cycler==0.12.1
dynamixel-sdk==4.0.5
emioapi==0.2.0
fonttools==4.62.0
kiwisolver==1.5.0
matplotlib==3.10.8
mpl_interactions==0.24.2
numpy==1.26.4
opencv-python==4.11.0.86
packaging==26.0
pillow==12.1.1
pyparsing==3.3.2
pyrealsense2==2.57.7.10387
pyserial==3.5
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
